<style>
     #message{
     background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d); 
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    font-size: 5vw;
    text-align:center;
  }
</style>
<span>This is embarassing.</span><br><br>
<span>Looks like the colors were not in the cards for you...</span>
